<% include partials/header %>

<h1>create campground</h1>

<form action="/campgrounds" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="image" placeholder="image_url">
  <button type="submit" name="submit">submit</button>
</form>

<% include partials/header %>
